{% extends "base.html" %}

{% block title %}All Products{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h2>All Skincare Products</h2>
            <p>Explore our wide range of skincare products, carefully curated to meet your skincare needs and preferences.</p>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='img/product/' + product.image)  }}" class="card-img-top" alt="{{ product.product_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.product_description }}</p>
<!--                    <p><strong>Price:</strong> ${{ product.price }}</p>-->
                    <p><strong>Brand:</strong> {{ product.brand }}</p>
                    <p><strong>Rating:</strong> {{ product.rating }} / 5</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }
    .card:hover {
        transform: translateY(-5px);
    }
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }
</style>
{% endblock %}
